/* Redes */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    text-align: center;

}

.ig{
    display: flex;
    flex-direction: column;
    color: #6B553D;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    margin: 4px; 
    padding: 8px;
    border-radius: 8px;
    width: 20%;
    align-self: center;
    /*align-items: center;*/
    

}

.imgfoot{
    padding: 5px;
    width: 20%;
    display: flex;
    align-self: center;
}

.ig:hover{
    color:#d67747
}