@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extend";


// Texto principal Index

h1{
    margin: 8px;
    padding: 12px;
    font-family: "Libre Baskerville", serif;
    color: variables.$c-mostaza;
    text-align: center;
}

h2{
    padding: 10px;
    text-align: center;
}

.titular{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 32px;
}

/*Página historia*/

.historia{
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    h2 {
        color: variables.$c-gris ;   
        margin: 16px 14px 12px 10px;
        text-decoration: none;
            }
}

figure{
    padding: 16px;
    img{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    }
} 


/* página productos*/

.productos{
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .h2-prod{
        margin: 8px;
        padding: 8px;
    }
}

.volver-arriba{
    margin: 8px;
    padding: 8px;
    text-decoration: none;
    color: variables.$c-marron;
    &:hover{
        color: variables.$c-mostaza
    }
}

//Formulario

.formu{
    @include mixins.flex(row, center, center);
    .formulario-marto {
        @extend .formu;
        margin: 35px;
        padding: 35px;
        width: 60%;
        .btn-formu{
            @extend %button-brown;
        }
     }
    }

/* página Cambios & FAQ´S*/

.sec-cambios{
    margin: 8px;
    padding: 16px;
    text-align: center;
    .cambio-hover{
        display: inline-block;
        color: variables.$c-mostaza;
        &:hover{
            color: variables.$c-clarito;
        }
    }
}    


.faq{
    @extend .sec-cambios;
    @include mixins.flex (column, center, center);
    .acc-marto{
        width: 80%;
        border: 0px;
        .acc-fondo{
            background-color: variables.$c-clarito;
            .acc-color{
                background-color: variables.$c-clarito;
                &:hover{
                background-color: variables.$c-rosita;
            }
        }
     }
   }
}
