@use "../utilities/variables";
@use "../utilities/extend";

/*Barra de navegacion*/ 

header {
    padding: 2px;
    .bg-marto{
        background-image: linear-gradient(to right, variables.$c-clarito, variables.$c-rosita);
}
}


.img-brand {
    width: 8%;
    padding: 2px;
       
}

.btn-buscar{
    @extend %button-brown;
    
}