@use "../utilities/variables";
@use "../utilities/extend";

/*Barra de navegacion*/ 

header {
    padding: 2px;
    .bg-marto{
        background-image: linear-gradient(to right, variables.$c-clarito, variables.$c-rosita);
}
}

.navbar-brand{
    width: 100px;
    height: 60px;
    .img-brand {
    width: 90%;
    padding: 2px;
        }
}

.btn-buscar{
    @extend %button-brown;
    
}