@use "../utilities/variables";

/*Barra de navegacion*/ 

header {
    padding: 2px;
    .bg-marto{
        background-color: variables.$c-clarito;
}
}
.container-fluid{
    //background-color: variables.$c-clarito;
}

.img-brand {
    width: 8%;
    padding: 2px;
       
}

.btn-buscar {
    margin: 2px;
    padding: 4px;
    color: black;
    background-color: variables.$c-gris;
    border: 0.5px black solid;
    font-family: "Libre Baskerville", serif;
    &:hover{
        background-color: variables.$c-clarito;
    }
}

.bg-marto{
    a{
    color: variables.$c-gris;
    &:hover{
    color: variables.$c-mostaza ;
    }
  }
}