@use "../utilities/mixins";
@use "../utilities/variables";


.card-container{
    @include mixins.flex (row, space-between, center);
    padding: 24px;
    gap: 16px;
    flex-wrap: wrap;
    .card{
        width: 40vh;
        height: 80vh;
        border: 1px solid grey;
        border-radius: 3px;
        padding: 2px;
        &:hover{
            transform: scale(1.02);
        }

h5{ 
    text-align: center;
    .img-card {
            width: 70%;
            padding: 2px;
            align-self: center;
                
              }
        }
    }  
}
    


.card-body {
    padding: 2px;
    font-family: "Montserrat", sans-serif;
    p{
        text-align: center;
    }
}        

.btn-detalles{
    @include mixins.flex(row, center, center);    
    .btn-edit {
        display: flex;
        justify-content: center;
        font-family: "Libre Baskerville", serif;
        font-size: 1rem;
        color: black;
        text-decoration: none;
        background-color: variables.$c-rosita;
        &:hover{
            background-color: variables.$c-clarito;
            color: variables.$c-mostaza;
            }
    }
}

.card-img1 {
    width: 75%;
}



            
    




