@use "../utilities/variables";

.card-container{
    margin: 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    .card{
        width: 40vh;
        border: 1px solid variables.$c-rosita;
        border-radius: 3px;
        padding: 16px;
        .img-card {
            width: 70%;
            align-self: center;
            
        }
    }
}           

.card-body {
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            .btn-edit {
            display: flex;
            justify-content: center;
            font-family: "Libre Baskerville", serif;
            font-size: 1rem;
            color: black;
            text-decoration: none;
            background-color: variables.$c-rosita;
            &:hover{
                    background-color: variables.$c-clarito;
                    color: variables.$c-mostaza;
        }
    }
}
         




            
    




