@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*$container-max-widths: (
  sm: 480px,
  lg: 1024px,
  );*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF3E1;
}

/*  font-family: "Libre Baskerville", serif; */
/*  font-family: "Montserrat", sans-serif; */
@keyframes hover-color {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* Redes */
.foot-mio {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-mio p {
  font-family: "Libre Baskerville", serif;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

a {
  padding: 8px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #6B553D;
  text-align: center;
  align-self: center;
}
a:hover {
  color: #d67747;
  animation-name: hover-color;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

img {
  padding: 3px;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
figure .imgfoot {
  width: 50%;
}

.btn-buscar, .formu .formulario-marto .btn-formu {
  margin: 2px;
  padding: 4px;
  color: #e8cfc1;
  background-color: #3A2812;
  border: 0.5px black solid;
  font-family: "Libre Baskerville", serif;
}
.btn-buscar:hover, .formu .formulario-marto .btn-formu:hover {
  background-color: #e8cfc1;
  color: #D67747;
}

h1 {
  margin: 8px;
  padding: 12px;
  font-family: "Libre Baskerville", serif;
  color: #A87008;
  text-align: center;
}

h2 {
  padding: 10px;
  text-align: center;
}

.titular {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 32px;
}

/*Página historia*/
.historia {
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.historia h2 {
  color: #6B553D;
  margin: 16px 14px 12px 10px;
  text-decoration: none;
}

figure {
  padding: 16px;
}
figure img {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

/* página productos*/
.productos {
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.productos .h2-prod {
  margin: 8px;
  padding: 8px;
}

.volver-arriba {
  margin: 8px;
  padding: 8px;
  text-decoration: none;
  color: #3A2812;
}
.volver-arriba:hover {
  color: #A87008;
}

.formu, .formu .formulario-marto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.formu .formulario-marto {
  margin: 35px;
  padding: 35px;
  width: 60%;
}
/* página Cambios & FAQ´S*/
.sec-cambios, .faq {
  margin: 8px;
  padding: 16px;
}
.sec-cambios .div-cambio, .faq .div-cambio {
  display: flex;
}
.sec-cambios .div-cambio .cambio-hover, .faq .div-cambio .cambio-hover {
  padding: 1px;
  color: #A87008;
}
.sec-cambios .div-cambio .cambio-hover:hover, .faq .div-cambio .cambio-hover:hover {
  color: #E8CFC1;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq .acc-marto {
  width: 80%;
  border: 0px;
}
.faq .acc-marto .acc-fondo {
  background-color: #E8CFC1;
}
.faq .acc-marto .acc-fondo .acc-color {
  background-color: #E8CFC1;
}
.faq .acc-marto .acc-fondo .acc-color:hover {
  background-color: #D67747;
}

/*Barra de navegacion*/
header {
  padding: 2px;
}
header .bg-marto {
  background-image: linear-gradient(to right, #E8CFC1, #D67747);
}

.navbar-brand {
  width: 100px;
  height: 60px;
}
.navbar-brand .img-brand {
  width: 90%;
  padding: 2px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 16px;
  flex-wrap: wrap;
}
.card-container .card {
  width: 40vh;
  height: 80vh;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 2px;
}
.card-container .card:hover {
  transform: scale(1.02);
}
.card-container .card h5 {
  text-align: center;
}
.card-container .card h5 .img-card {
  width: 70%;
  padding: 2px;
  align-self: center;
}

.card-body {
  padding: 2px;
  font-family: "Montserrat", sans-serif;
}
.card-body p {
  text-align: center;
}

.btn-detalles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-detalles .btn-edit {
  display: flex;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  background-color: #D67747;
}
.btn-detalles .btn-edit:hover {
  background-color: #E8CFC1;
  color: #A87008;
}

.card-img1 {
  width: 75%;
}

/*# sourceMappingURL=style.css.map */
